Django>=5.1,<5.3
wagtail>=6.4,<7.0
psycopg[binary]>=3.2,<4.0
dj-database-url>=2.3,<3.0
python-dotenv>=1.0,<2.0
django-ratelimit>=4.1,<5.0
requests>=2.32,<3.0
gunicorn>=23.0,<24.0
whitenoise>=6.8,<7.0
google-api-python-client>=2.140,<3.0
google-auth>=2.34,<3.0
django-storages[s3]>=1.14,<2.0
